@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #155dfc
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary)
}

@layer base {
  button {
    @apply cursor-pointer
  }
  .border {
    @apply border border-gray-300
  }
  .flex-between {
    @apply flex items-center justify-between
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  pre {
    @apply p-2 bg-primary text-white rounded-md;
  }
  
  .tiptap:first-child {
    margin-top: 0;
  }
  
  /* Table-specific styling */
  .tiptap table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }
  
  .tiptap table td,
  .tiptap table th {
    border: 1px solid #7a7a7a;
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
  }
  
  .tiptap table td > *,
  .tiptap table th > * {
    margin-bottom: 0;
  }
  
  .tiptap table th {
    background-color: #e9e9e9;
    font-weight: bold;
    text-align: left;
  }
  
  .tiptap .selectedCell:after {
    background: #e9e9e9;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }
  
  .tiptap .column-resize-handle {
    background-color: var(--purple);
    bottom: -2px;
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: 0;
    width: 4px;
  }
  
  .tiptap.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
  
  .tiptap a {
    color: blue;
    cursor: pointer;
    text-decoration-line: underline;
  }
  
  .tiptap a:hover {
    color: #2424ec;
  }
}
